# https://editorconfig.org/

root = true

[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

[*.cs]
csharp_new_line_before_open_brace = none
csharp_new_line_before_else = true
csharp_new_line_before_catch = true
csharp_new_line_before_finally = true
csharp_indent_switch_labels = false

dotnet_naming_symbols.interface.applicable_kinds = interface
dotnet_naming_symbols.interface.applicable_accessibilities = *

dotnet_naming_style.pascal.capitalization = pascal_case

dotnet_naming_rule.interface_naming.symbols = interface
dotnet_naming_rule.interface_naming.style = pascal
dotnet_naming_rule.interface_naming.severity = suggestion
